body {
  overflow-x: auto;
}

.tt {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-gap: 5px;
  background-color: #4bd1fa;
  padding: 7px;
  overflow-x: auto;
}

.tt > div{
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.white{
  background-color: rgba(255, 255, 255, 0.8);
}

.tt > div:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 0, 0);
}

.break{
  display: flex;
  align-items: center;
  grid-row-end: span 6;
}

.lab{
  grid-column: span 2;
}

.gray{
  background-color: rgba(255, 255, 255, 0.502);
}



/*
year
*/

body{
  background-color: #6edafb;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.container1{
  width: 60%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.502);
}

