.tt{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(75, 209, 250);
  padding: 10px;
}

.tt > div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.tt > div:hover{
  background-color: black;
  color: gold;
}

.break{
  display: flex;
  align-items: center;
  grid-row-end: span 6;
}

.cdlab{
  grid-column: span 2;
}
